<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link href="../Assignment5.CSS/StyleSheet.css" rel="stylesheet" />

    <script src="../Scripts/angular.js"></script>
    <script src="../Assignmetn5.Js/Autocomplete.js"></script>
    <script src="../Assignmetn5.Js/Controller.js"></script>

    <title>Koutsogiorgos Evangelos Assignment 5</title>
</head>
<body ng-app="HotelApp" ng-controller="HotelController">
    <div class="container">
        <div class="header">
            <!--=============================== search-bar row 1 ====================================================-->
            <div class="search-bar row autocomplete">
                <input id="search" type="search" name="search" placeholder="City">
                <button id="submitBtn" type="submit">Search</button>
            </div>
            <!--=============================== search-bar row 2 ====================================================-->
            <div class="search-bar2">
                <!--------------------------------- check-in ---------------------------------------------------------->
                <div class="check-in">
                    <input type="date" name="checkIn">
                </div>
                <!--------------------------------- check-out --------------------------------------------------------->
                <div class="check-out">
                    <input type="date" name="checkOut">
                </div>
                <!--------------------------------- room-type --------------------------------------------------------->
                <div class="room-type">
                    <select id="room-type-select" name="roomType">
                        <option value="" disabled selected>Room Type</option>
                        <option value="Single">Single</option>
                        <option value="Double">Double</option>
                        <option value="FamilyRooms">Family rooms</option>
                    </select>
                </div>
            </div>
            <!--=============================== search-bar row 3 ====================================================-->
            <div class="search-bar3 row">
                <!--------------------------------- left-part --------------------------------------------------------->
                <div class="left-border" ng-model="MaxPrice2">
                    <div class="price" ng-model="MaxPrice">
                        <p>Price  <span valueSpan2"></span> <span>Max:  €{{MaxPrice}}</span></p>
                        <input ng-model="MaxPrice" type="range" class="custom-range" id="customRange1" min="0" max="{{MaxPrice2}}" name="price">
                    </div>
                </div>
                <!--------------------------------- cntral-part ------------------------------------------------------->
                <div class="center-border row">
                    <div class="property-type">
                        <p>Property type</p>
                        <select id="property-type" name="rating">
                            <option disabled selected>All</option>
                            <option style="color: black " value="1">1 star</option>
                            <option style="color:black" value="2">2 stars</option>
                            <option style="color:black" value="3">3 stars</option>
                            <option style="color:black" value="4">4 stars</option>
                            <option style="color:black" value="5">5 stars</option>
                        </select>
                    </div>
                    <div class="guest-rating">
                        <p>Guest rating</p>
                        <select id="guest-rating" name="guestrating">
                            <option disabled selected>All</option>
                            <option style="color:black" value="Onestar">One star</option>
                            <option style="color:black" value="Twostars">Two stars</option>
                            <option style="color:black" value="Threestars">Three stars</option>
                            <option style="color:black" value="Fourstars">Four stars</option>
                            <option style="color:black" value="Fivestars">Five stars</option>
                        </select>
                    </div>
                </div>
                <!--------------------------------- right-part -------------------------------------------------------->
                <div class="right-border row">
                    <div class="lacation">
                        <p>Hotel location</p>
                        <select id="lacation" name="lacation">
                            <option disabled selected>All</option>
                            <option style="color:black" value="City">city</option>
                        </select>
                    </div>
                    <div class="filter">
                        <p>Filters</p>
                        <select id="filter" name="filters">
                            <option disabled selected>All</option>
                            <option style="color:black" value="City">Filters</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <!--=============================== First row of main body===================================================-->
            <div class="first-body-row row">
                <!--------------------------------- Map ------------------------------------------------------------------->
                <div id="backgroundMap">
                    <button id="map">View Map</button>
                </div>
                <!--------------------------------- empty1 ---------------------------------------------------------------->
                <dv id="empty1">
                </dv>
                <!--------------------------------- Sorting --------------------------------------------------------------->
                <div id="sortBy-div-text">
                    <p>Sort by</p>
                </div>
                <div id="sortBy-div-list">
                    <select id="sortBy-list" name="sortByList">
                        <option disabled selected>Sorting</option>
                        <option style="color:black" value="City">Filters</option>
                    </select>
                    <i class="fa fa-info-circle" style="font-size:20px; color: gray;"></i>
                </div>
            </div>
            <!--=============================== Second row of main body==================================================-->
            <div class="second-body-row">
                <div class="container-shadow row mb-2" ng-repeat="Hotel in Hotels | filter:filterPrice | filter:search:strict">
                    <!--------------------------------- Image ------------------------------------------------------------->
                    <div class="image">
                        <img ng-src={{Hotel.thumbnail}} alt="" />
                    </div>
                    <!--------------------------------- Information1 ------------------------------------------------------>
                    <div class="Information1">
                        <p id="hotelName">{{Hotel.hotelName}}</p>
                        <div id="starRating-div" class="row">
                            <span class="fa fa-star checked" ng-repeat="stars in [].constructor(Hotel.rating) track by $index"></span>
                            <p>Hotel</p>
                        </div>
                        <div id="city">
                            <p>{{Hotel.city}}</p>
                        </div>
                        <div id="raitings">
                            <span id="ratings-no">{{Hotel.ratings.no | number:1}}</span>
                            <span id="ratings-text">{{Hotel.ratings.text}}</span>
                            (<span id="number-of-reviews">{{(252*Hotel.ratings.no) - Hotel.price | number:0}}</span> reviews)
                        </div>

                        <div id="location-rating">
                            <p><span id="ratings-text">Excellent</span> location (<span id="ratings-no">{{Hotel.ratings.no - 0.2 | number:1}}</span>/10)</p>
                        </div>
                    </div>
                    <!--------------------------------- Information2 ------------------------------------------------------>
                    <div class="Information2">
                        <div id="first-price" class="text-center">
                            <span>Hotel website</span><br />
                            <span>€{{Hotel.price}}</span>
                        </div>
                        <div id="second-price" class="text-center">
                            <span>Deal 2</span><br />
                            <span>€{{Hotel.price + 123}}</span>
                        </div>
                        <div id="third-price" class="text-center">
                            <span>Deal 3</span>
                            <br />
                            <span>€{{Hotel.price + 88}}</span>
                        </div>
                    </div>
                    <!--------------------------------- Information3 ------------------------------------------------------>
                    <div class="Information3 text-center">
                        <p>Hotel website</p>
                        <span id="information3-hotelPrice">€{{Hotel.price}}</span>
                        <br />
                        <div id="Information3-viewDeal">
                            <span>View Deal </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <script src="../Scripts/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../Scripts/bootstrap.js"></script>


</body>
</html>